// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

.site-logo {
  width: 40vw;
  height: 10rem;
  max-width: 250px;
          mask: url(assets/images/logo-mdnp-thought.svg) center center / contain no-repeat;
  -webkit-mask: url(assets/images/logo-mdnp-thought.svg) center center / contain no-repeat;
  background: linear-gradient(135deg, var(--brown) 30%, #111);
}