// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

.site-logo {
  display: block;
  height: 2rem;
  margin: 0 auto;
  /*background: url(../assets/images/logo-text.svg);*/
  background-color: var(--logo-color);
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*background-position: center center;*/
  -webkit-mask: url(assets/images/logo-text.svg) no-repeat center center / contain;
  mask: url(assets/images/logo-text.svg) no-repeat center center / contain;
}